.quiz {
  height: 100vh;
  padding-top: 21px;
  overflow-x: hidden;
}
.quiz__eye-icon {
  position: absolute;
  bottom: -25px;
  right: -72px;
  opacity: 0.6;
}
.quiz__planet-icon {
  position: absolute;
  bottom: -15px;
  left: -10px;
  opacity: 0.6;
}
.quiz__header {
  margin-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.quiz__quote {
  max-width: 235px;
  margin: 0 auto 23px;
  position: relative;
  font-family: BadScript;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
/* .quiz__main {} */
.quiz__title {
  max-width: 288px;
  margin: 0 auto 40px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  text-transform: uppercase;
  color: #F6C866
}
.quiz__btns-wrapper {
  margin: 0 auto 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz__btn {
  margin-bottom: 20px;
}
.quiz__btn:last-of-type {
  margin-bottom: 0;
}
.quiz__quethion-num {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
}
.quiz__form {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz__input {
  border: none;
  width: 179px;
  margin-bottom: 20px;
  padding: 12px 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #202024;
  text-align: center;
  background: linear-gradient(90deg, rgba(228, 228, 228, 0.9) -6.2%, rgba(203, 203, 203, 0.9) 100%);
  border-radius: 50px;
}
.quiz__input::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #202024;
}
.quiz__input:focus {
  outline: none;
}
.quiz__input_error {
  border: 1px solid rgba(238, 83, 83, 1);
}
.quiz__loader-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz__loader-text {
  margin: 0;
  margin-top: 27px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6)
}
.quiz__quote-wrapper {
  position: relative;
}
.quiz__quote_message {
  max-width: 259px;
  min-height: 84px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 0 12px;
  position: relative;
  color: #202024;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: showMessage 2s ease 1;
}
.quiz__quote_message::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -17px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 8.5px solid transparent;
  border-right: 8.5px solid transparent;
  border-top: 17px solid #ffffff;
}
.quiz__quote-wrapper>.quiz__eye-icon {
  bottom: -25px;
  right:  -30px;
}

@media screen and (min-width: 480px ) {
  .quiz__quote {
    max-width: 412px;
    margin-bottom: 37px;
    font-size: 25px;
    line-height: 1.4;
  }
  .quiz__btn {
    margin-bottom: 34px;
  }
  .quiz__title {
    max-width: 503px;
    font-size: 25px;
    line-height: 35px;
  }
  .quiz__btns-wrapper {
    margin-bottom: 183px;
  }
  .quiz__eye-icon {
    width: 146px;
    bottom: -40px;
    right: -125px;
  }
  .quiz__planet-icon {
    width: 90px;
    bottom: 40px;
    left: -100px;
  }
  .quiz__input {
    width: 310px;
    padding: 23px 0;
    font-size: 20px;
    line-height: 23px;
  }
  .quiz__input::placeholder {
    font-size: 20px;
    line-height: 23px;
  }
}