/* .footer {} */
.footer__text {
  max-width: 294px;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 7px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 3px;
  color: #9D9D9D;
}